.container {

	with:100%;
	height:100vh;
}

.bankKarten {
	display:flex;
	justify-content:center;
	align-items:center;
	margin:2em;
	display:flex;
}

.eigeneKarten {
	display:flex;
	justify-content:center;
	align-items:center;
	margin:2em;
	display:flex;
}

.report {
	display:flex;
	justify-content:center;
	align-items:center;
}

input {
	margin:1em;
	width: 7em;
}

img {
	width:64px;
	height:128px;
}